<a href="https://colab.research.google.com/github/Junhyuck123/Production-control/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
pip install pulp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pulp
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     |████████████████████████████████| 14.2 MB 5.1 MB/s
Installing collected packages: pulp
Successfully installed pulp-2.6.0

In [8]:
import pulp

In [74]:
n = int(input())

5

In [147]:
job = []
resource = []
for i in range(0, n):
  job.append("J{}".format(i))
  resource.append("R{}".format(i))

In [206]:
c = np.random.randint(1, 15, size = (n, n))
cost = pd.DataFrame(c, index = job, columns = resource)

In [207]:
cost

    R0  R1  R2  R3  R4
J0   7   1   2  14   8
J1  14   2  11   6  12
J2   6  14   1   8   6
J3   7   7  13   6   4
J4  13  11  14   1   8

In [209]:
a = np.array(cost['R0'])
d = min(a)
a = a - d

In [211]:
a[0]

1

In [204]:
for i in range(1):
  for j in range(n):
    cost[resource[i]][j] = a[i][j]

In [205]:
cost

    R0  R1  R2  R3  R4
J0   0   5   9   4  11
J1  10   4  13  13   6
J2   2   1   3   2  14
J3   1   2  13   7   1
J4   2   3   6  11  12

In [199]:
a[0][0]

0

In [194]:
cost[resource[0]][0] = 1

In [186]:
cost

    R0  R1  R2  R3  R4
J0 NaN  12  14   5  12
J1 NaN  11   2   1   3
J2 NaN   5   9   1  12
J3 NaN   1  11   1   2
J4 NaN  14   9   4   8

In [145]:
cost

    R0  R1  R2  R3  R4
J0 NaN  11  14   5  10
J1 NaN   8   5  11  11
J2 NaN   4   7  11   5
J3 NaN   9   6  10   6
J4 NaN   8   2   2  12

In [121]:
pd.DataFrame(a, index = 'R0')

TypeError: ignored

In [108]:
cost

    R0  R1  R2  R3  R4
J0 NaN  13  11   8   6
J1 NaN  12  10  13   6
J2 NaN  13   9  13   1
J3 NaN  10  10  12   3
J4 NaN  14  10  12   8

In [80]:
cost['R0'] =

In [83]:
pd.DataFrame(a)

    0
0   7
1   0
2   2
3  12
4   1

In [81]:
cost

    R0  R1  R2  R3  R4
J0 NaN   1   7   9   7
J1 NaN   2   6   5  10
J2 NaN   3  14   8   9
J3 NaN   7  11   5  10
J4 NaN  14   2   4   8